<h1>Mushrooms</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Edible</th>
      <th>Cap shape</th>
      <th>Cap surface</th>
      <th>Cap color</th>
      <th>Bruises?</th>
      <th>Odor</th>
      <th>Gill attachment</th>
      <th>Gill spacing</th>
      <th>Gill size</th>
      <th>Gill color</th>
      <th>Stalk shape</th>
      <th>Stalk root</th>
      <th>Stalk surface above ring</th>
      <th>Stalk surface below ring</th>
      <th>Stalk color above ring</th>
      <th>Stalk color below ring</th>
      <th>Veil type</th>
      <th>Veil color</th>
      <th>Ring number</th>
      <th>Ring type</th>
      <th>Spore print color range</th>
      <th>Population</th>
      <th>Habitat</th>
    </tr>
  </thead>
  <tbody>
    <%= render @mushrooms %>
  </tbody>
</table>